@charset "UTF-8";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root_container {
    position: absolute;
    top: 0;
    left: 0;
}
/* bg_container */
#bg_container .bg1 {
  background-image: url("../../common/images/background.jpg");
  background-repeat: no-repeat;
  width: 1280px; height: 800px;
  overflow: hidden;
  background-size: cover;
}

#bg_container .bg2 {
  display: none; /* 나중에 지워야 함 */
  background-color: beige;
  background-repeat: no-repeat;
  width: 1280px; height: 800px;
  overflow: hidden;
  background-size: cover;

  /* 나중에 지워야 함 */
  position: absolute; top: 0; left: 0;
}

/* content_container */
#content_container {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 10;
}
/* header */
.header .title_box {
  display: none; /* 나중에 지워야 함 */
    width: 905px;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
}
.header .title_box .title {
    font-size: 60px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    text-align: center;
    line-height: 1.2;
}
.btn_audio {
    position: absolute;
    top: 20px; right: 20px;
}

/* content_box */
.icon {
  background: url("../images/icon_magnifier.jpg") no-repeat;
  width: 70px; height: 70px;
  position: absolute; top: 40px; left: 70px;
}
.content_box .content { 
  position: absolute;  top: 60px; left: 150px;
  font-size: 28px;
}
.explanation {
  width: 240px;
  background-color: #daf0ff;
  border-radius: 20px;
  padding: 12px 25px;
  font-size: 20px;
  line-height: 1.2;
  position: absolute; 
  top: 100px;
  left: 640px;
}
.explanation .btn_close {
  position: absolute;
}
.basket_box {
  width: 1050px; height: 145px;
  position: absolute;
  top: 40%; left: 50%; transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
.basket_box .basket {
  width: 218px; height: 145px;
  background: url("../images/basket.jpg") no-repeat;
  background-size: contain;
}
.object_box {
  width: 1100px; height: 150px;
  position: absolute;
  bottom: 5%; left: 50%; transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px rgb(48, 150, 209) dashed;
  border-radius: 20px;
  padding: 10px;
}
.object_box .object {
  width: 130px; height: 130px;
  background-repeat: no-repeat;
  background-size: contain;
}
#yut {
  background-image: url("../images/img_yut.png");
  
}
#can {
  background-image: url("../../common/images/img_can.png");
}
#spatula {
  background-image: url("../images/img_spatula.png");
}
#dice {
  background-image: url("../images/img_dice.png");
}
#balloon {
  background-image: url("../../common/images/img_balloon.png");
}
#eraser {
  background-image: url("../../common/images/img_eraser.png");
}
#ruler {
  background-image: url("../images/img_ruler.png");
}
#key {
  background-image: url("../../common/images/img_key.png");
}

.bubble {
  width: 70%;
  position: relative; top: 200px; left: 10%;
}
.comment {
  background-color: #daf0ff;
  border-radius: 20px;
  padding: 30px 40px;
  font-size: 32px;
  line-height: 1.2;
}
.img_boy {

}

/* thinking_box */
.thinking_box {
  background-color: #daf0ff;
  width: 80%; height: 80%;
  border-radius: 25px;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
}
.thinking_box h3 {
  font-size: 36px;
  /* color:rgb(255, 109, 56); */
  color: white;
  font-weight: bold;
}
.thinking_box .title {
  font-size: 40px;
  width: 440px;
  text-align: center;
  margin: 20px auto;
}
.thinking_box .content {
  width: 80%; height: 50%;
  background-color: rgb(255, 241, 236);
  border:rgb(48, 150, 209) 1px solid;
  border-radius: 30px;
  padding: 30px 40px;
  position: absolute;
  bottom: 10%; left: 50%;
  transform: translateX(-50%);
}
.question {
  background: url('../../common/images/question.png') no-repeat;
  width: 240px; height: 240px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.answer p {
  font-size: 34px;
  text-align: center;
  font-weight: 500;
}
.answer .material_box {
  margin-top: 20px;
  width: 867px;
  display: flex;
  justify-content: space-evenly;
}
.set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fabric {
  background: url("../images/img_fabric.png") no-repeat;
  width: 150px; height: 150px;
  background-size: contain;
}
.leather {
  background: url("../images/img_leather.png") no-repeat;
  width: 150px; height: 150px;
  background-size: contain;
}